@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&family=Montserrat:wght@500&family=Roboto:wght@300&display=swap');

* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
  --blue: #36455b;
}

body {
  background-color: rgba(143, 150, 150, 0.215);
}
.navbar {
  background: rgb(42,42,51);
background: linear-gradient(107deg, rgba(42,42,51,1) 0%, rgba(54,69,91,1) 35%, rgba(75,111,189,1) 100%);
height: 80px;
}

/* The above code is setting the font family, size, weight, line height, margin, and color of the name. */
header {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 2%;
  
}

.name {
  font-size: 250%;
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0 10px 25px;
  color: #fff;
  width: 50%;
}

li, a {
  font-weight: 500;
  font-size: 16px;
  color: edf0f1;
  text-decoration: none;
}

/* Creating a navigation bar with a hover effect. */
.wrapper ul {
  float: right;
  margin-right: 25px;
}

.wrapper ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}


.wrapper ul li a {
  position: relative;
  text-decoration: none;
  font-size: 120%;
  text-transform: uppercase;
  margin: 0 5px;
  color: #fff; 
  padding: 5px o;
}


.wrapper ul li a:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s linear;
}

.wrapper ul li a:hover:after {
  transform-origin: bottom left;
  transform: scaleX(1)
}

/* This is the CSS for the content section of the page. */
.content {
  font-family: 'Montserrat', sans-serif;
  float: left;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 2%;
  color: var(--blue);
  margin-left: 20px;
  margin-top: 20px;
  display: block;
  
} 

h2 {
  float: left;
  width: 15%;
  font-size: 40px;
  color: var(--blue);
  margin: 20px 20px;
  display: block;
  padding: 20px;
  /* background-color: #719ddf; */
  border-right: 5px solid var(--blue)  
  
}

.content .content-info {
  float: none;
  width: 75%;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 20px;
  float: left;
}

.about-me, .work, .contact-me {
  display: flex;
  width: 200%;
}

/* Images in the work section */
.img-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  /* flex: 0 0 100%; */
  
}

img {
  width: 45%;
  height: auto;
  border: solid var(--blue) 8px;
  display: flexbox;
  flex-wrap: wrap;
  position: relative;
  margin: 10px 4px 10px 0;
}

.tag {
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
  background-color: #92AD40;
  padding: 5px;
  color: black;
  font-weight: bold;
}

/* This is the CSS for the footer section of the page. */
.footer {
  list-style: none;
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  justify-content: space-evenly;
  margin-top: 30px;
  text-align: center;
}

.footer li {
  display: inline-block;
}


.footer li a {
  text-decoration: none;
  font-size: 120%;
  text-transform: uppercase;
  margin: 0 5px;
  color: var(--blue);
  position: relative;
}

.footer li a:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--blue);
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s linear;
}

.footer li a:hover:after {
  transform-origin: bottom left;
  transform: scaleX(1)
}

/* media queries*/
@media screen and (max-width: 1120px) {
  .img-container {
    flex-direction: column;
  }

  .img {
    width: 25%;
  }
}